@main-color: #a2cd0f;
@body: 100%;
@color-grey: rgba(0,0,0,0.2);
@color-dark-link: rgba(0,0,0,0.59);
@color-light-link: white;
@main-font1: Sans;
@main-font2: Sans;
@media only screen and (max-width:765px) {
  footer {
    .infoblock {
      margin: 0 10px;
      width: 45%!important;
    }
  }

  .footbot {
    font-size: 9px!important;
  }

  body {
    width: 100%;
  }

  .topmenu {
    ul {
      padding: 0;
      margin: 0;
    }

    li {
      font-size: 9px;
    }

    .left {
      width: auto!important;
      line-height: 25px;
      height: 100%;
      text-align: center;

      li {
        width: 35px !important;
        height: 35px !important;
        padding: 0 !important;
      }
    }

    .right {
      line-height: 25px;
      height: 100%;

      ul {
        height: 100%;
      }

      li {
        line-height: 25px;
        padding: 0 0 0 15px !important;

        a {
          font-size: 11px!important;
        }
      }
    }
  }

  .bottommenu {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .logo {
      width: 27%!important;
      padding-left: 40px !important;

      img {
        max-width: 100px;
      }
    }

    .phone {
      width: 140px!important;
      font-size: 11px;
      word-spacing: -3px;

      span {
        font-size: 11px;
        line-height: 15px;
      }
    }

    .call {
      width: 25%;
      font-size: 11px;
      padding-right: 10px !important;
      padding-top: 10px !important;
    }

    .login {
      width: 45%!important;
      font-size: 0.7em!important;
      text-align: right!important;
    }

    .cart {
      width: 40%!important;
    }
  }

  .page {
    .slider {
      height: 300px;

      .display {
        .slide {
          .text {
            width: 100%;
            left: 0;

            h2 {
              padding-left: 50px;
              padding-right: 50px;
              font-size: 25px;
            }

            p {
              font-size: 16px;
              padding-left: 50px;
              padding-right: 50px;
            }
          }
        }
      }

      .controls {
        .marks {
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .section {
    .tabs {
      .list {
        .tab {
          .item {
            .image {
              height: 200px!important;
            }
          }
        }
      }
    }
  }

  .section.anketa .descr {
    width: 100px;
  }

  .section.anketa {
    .getSkidka {
      .forma {
        margin: 0 !important;
        width: 100%!important;
        border-radius: 0px!important;

        p {
          width: 90%!important;
        }

        .send .submit {
          width: 30%!important;
        }
      }
    }
  }
}
